---
name: APPROVE
 
on: pull_request # run on pull request events
on:
  workflow_run:
    workflows: [unittests]
    types:
      - completed
  pull_request:
    branches:
      - master

permissions:
 pull-requests: write # grant write permission on the pull-requests endpoint
jobs:
 approve:
   runs-on: ubuntu-22.04
 
   steps:
     - run: | # approve the pull request
         curl --request POST \
         --url https://api.github.com/repos/${{github.repository}}/pulls/${{github.event.number}}/reviews \
         --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
         --header 'content-type: application/json' \
         -d '{"event":"APPROVE"}'