---
name: Running unittest licenses

on:
  # Trigger the workflow on push or pull request, but only for the master branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  # Trigger the workflow on cron schedule
  schedule:
    - cron: '7 0 * * *'

jobs:
  unittest:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Run unittest - licenses
        run: python -m unittest ./tests/test_licenses.py
